# Local configuration and secrets
# Ignore all .env files and any file named config.js in any subfolder
.env
.env.*
**/config.js

# But DO include example config files so they get committed
!**/config.example.js

# Dependencies
node_modules/

# OS and Editor specific files
.DS_Store
Thumbs.db
.vscode/*
!.vscode/settings.json